{% extends 'base.html.twig' %}

{% block title %}Starter{% endblock %}

{% block body %}
    <div class="container is-fluid">
        <div class="box">
                <h2 class="title">Symfony Start</h2>
                <h3 class="title">A base Symfony 5 project with Docker.</h3>
        </div>

    </div>
{% endblock %}
